<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Add Point</title>
        <link href="/resources/css/main.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
	<script type="text/javascript">

	$(function() {
	        var view = %%point.data_view%%
		$.plot("#placeholder", [view]);
	});

	</script>
</head>
<body>
<div id="nav_status">OI</div>
<div id="content">

			<div id="placeholder" class="demo-placeholder"></div>



</div>
<div id="editor_container">
  <center>
    <div id="editor">
      <form>
	<input type="hidden" name="point.id" value="%%point.id%%">
	<table class="editor">
          <tr><td class="editor_label">Tag:</td><td><input type="text" name="point.tag" value="%%point.tag%%"></td></tr>
          <tr><td class="editor_label">Value: </td><td><input type="text" name="point.value" value="%%point.value%%"></td></tr>
	  <tr><td class="editor_label">Time:</td><td><input type="datetime-local" name="point.timestamp" value="%%point.timestamp%%"></td></tr>
          <tr><td colspan="2" align="right"><input type="submit" name="action" value="OK" class="editor"></td></tr>
        </table>
      </form>
    </div>
</center>
</div>
</body>
</html>
