<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Add Point</title>
        <link href="/resources/css/main.css" rel="stylesheet" type="text/css">
	
	<script src="/resources/js/Chart.js"></script>
	<script type="text/javascript">

	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
	var lineChartData = %%point.data_view%%

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	}

	</script>
</head>
<body>
<div id="nav_status">OI</div>

<div id="content">
			<div>
				<canvas id="canvas" height="50px" width="100%"></canvas>
			</div>
</div>

<div id="editor_container">
  <center>
    <div id="editor">
      <form method="post">
	<input type="hidden" name="point.id" value="%%point.id%%">
	<table class="editor">
          <tr><td class="editor_label">Tag:</td><td><input type="text" name="point.tag" value="%%point.tag%%"></td></tr>
          <tr><td class="editor_label">Value: </td><td><input type="text" name="point.value" value="%%point.value%%"></td></tr>
	  <tr><td class="editor_label">Time:</td><td><input type="datetime-local" name="point.timestamp" value="%%point.timestamp%%"></td></tr>
          <tr><td colspan="2" align="right"><input type="submit" name="create" value="OK" class="editor"></td></tr>
        </table>
      </form>
      <form method="post">
	<table class="editor">
        <tr><td colspan="2" align="right"><input type="submit" name="new" value="NEW" class="editor"></td></tr>
        </table>
      </form>
    </div>
</center>
</div>
</body>
</html>
